<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我要加入</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-author.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="author-entrence">
		<b></b>
		<dl>
			<dt><a class="but" href="author-register.html">我是新用户</a></dt>
			<dd>如果您是大白云诊的新用户，请注册！</dd>
		</dl>
		<dl>
			<dt><a class="but" href="author-login.html">我是老用户</a></dt>
			<dd>如果您是大白云诊app用户，请绑定！</dd>
		</dl>

		<!--<a class="but" href="../my/my-download-app.html">我要下载APP</a>-->
	</div>
</body>
</html>