<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>登录</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-author.css" rel="stylesheet" media="all">
</head>
<body>

	<div class="author-login">
		<div class="panel">
			<dl>
				<dt></dt>
				<dd><input id="phoneNo" type="tel" size="11" maxlenght="11" value="" placeholder="输入您在app注册的电话号码" /></dd>
			</dl>

			<dl>
				<dt class="pass"></dt>
				<dd><input id="password" type="password" size="20" maxlenght="20" value="" placeholder="请输入登陆密码" /></dd>
			</dl>
		</div>

		<footer class="no-need-fixed">
			<a id="bindUser" class="save">绑 定</a>
		</footer>
	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/author-login.min.js"></script>
	
</body>
</html>