<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<title>添加药品</title>
    <link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-prescriptions.css" rel="stylesheet" media="all">
</head>
<body>
	<section class="author-register form-input prescriptions-list-add">
		<div class="form-input-row">
			<input type="text" id="name" value="" placeholder="处方单名称" size="10" maxlength="10" />
		</div>
	</section>

	<footer class="no-need-fixed">
		<a class="save" id="save" href="javascript:void(0);">保存</a>
	</footer>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/prescriptions-list-add.min.js"></script>
</body>
</html>