<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>基本信息</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient-info.css" rel="stylesheet" media="all">
</head>
<body>

	<div class="patient-info">
		<div class="basic-info" id="base-info"></div>
	</diV>

	<footer>
		<a id="send-messages">发送消息</a>
	</footer>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/patient-info-base-info.min.js"></script>

</body>
</html>