<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>聊天图片</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient-info.css" rel="stylesheet" media="all">
	<style id="userDefineStyle"></style>
</head>
<body>
	<div id="chatImagePanel" class="patient-chat-images-list"></div>

	<p class="c"></p>

	<div id="frameLine" class="line" style="display:none;"></div>

	<footer>
		<a id="send-messages">发送消息</a>
	</footer>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>

	<script src="../../js/dist/patient-info-chat-images.min.js"></script>
</body>
</html>