<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>病历档案详情</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient-info.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="caseFileDetails" class="patient-case-files-details">
		<!--<h6>病情描述</h6>
		<p class="case-details">病情描述病情描述病情描述病情描述病情描述病情描述病情描述病情描述</p>
		<div class="images-box">
			<dl>
				<dt>医嘱</dt>
				<dd>
					<span>
						<img src="" alt="">
					</span>
					<span>
						<img src="" alt="">
					</span>
				</dd>
			</dl>
			<dl>
				<dt>处方单</dt>
				<dd>
					<span>
						<img src="" alt="">
					</span>
					<span>
						<img src="" alt="">
					</span>
				</dd>
			</dl>
			<dl>
				<dt>检查单</dt>
				<dd>
					<span>
						<img src="" alt="">
					</span>
					<span>
						<img src="" alt="">
					</span>
				</dd>
			</dl>
		</div>

		<section>
			<ul>
				<li class="no-after-arrow">
					<span class="title">就诊时间</span>
					<span class="value">2015-03-26</span>
				</li>
				<li class="no-after-arrow">
					<span class="title">就诊医院</span>
					<span class="value">广州第一人民医院</span>
				</li>
				<li class="no-after-arrow">
					<span class="title">就诊科室</span>
					<span class="value">内科</span>
				</li>
				<li class="no-after-arrow">
					<span class="title">医生</span>
					<span class="value">一只勃</span>
				</li>
			</ul>
		</section>-->
	</div>


	<footer>
		<a id="send-messages">发送消息</a>
	</footer>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>

	<script src="../../js/dist/patient-info-case-files-details.min.js"></script>
</body>
</html>