<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>个人资料</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="form-list my-information-wrap" id="info_list"></nav>
	<footer>
		<a class="save" id="toVerify" href="../authorization/author-verification.html" style="display:none;">身份认证</a>
	</footer>
    <script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/my-information.min.js"></script>
</body>
</html>