<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>科室选择</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="form-list" id="depart_list"></nav>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/my-info-change-depart-second.min.js"></script>
</body>
</html>