<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>擅长</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="form-input my-information-wrap">
		<div class="form-input-row form-input-textarea">
			<textarea placeholder="您的专业领域、擅长病种、研究方向等信息" id="expertise"></textarea>
		</div>
		<p class="tip-show-msg">（请将内容控制在300个字以内）</p>

		<footer class="no-need-fixed">
			<a class="save" id="save">确 认</a>
		</footer>
	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/my-info-change-major.min.js"></script>
</body>
</html>