<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>真实姓名</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="author-register form-input">
		<div class="form-input-row">
			<input type="text" id="name" value="" placeholder="请输入真实姓名" size="15" maxlength="15" />
		</div>

		<p class="tip-show-msg">请输入您的真实姓名。</p>

		<footer class="no-need-fixed">
			<a class="save" id="save">确 认</a>
		</footer>
	</div>



	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/my-info-change-name.min.js"></script>
</body>
</html>