<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>性别</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>

	<nav class="form-list" id="gender_list">
		<a id="male" value="1" class="check-list no-arrow">男</a>
		<a id="female" value="0" class="check-list no-arrow">女</a>
	</nav>

	<!--<div class="form-input">
		<div class="form-input-row form-radio-row" id="male">
			<input type="radio" value="1" name="gender" id="gender_0" checked />
			<label for="gender_0">男</label>
		</div>
		<div class="form-input-row form-radio-row" id="female">
			<input type="radio" value="0" name="gender" id="gender_1" />
			<label for="gender_1">女</label>
		</div>
	</div>-->

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/my-info-change-gender.min.js"></script>
</body>
</html>