<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>选择医院</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="form-list form-freezen-padding" id="city_list" style="padding-top:0;">
	</nav>

	<div class="form-search-freezen" style="display:none">
		<div class="form-search">
			<i></i>
			<span>
				<input type="text" value="" placeholder="输入医院名称搜索" >
			</span>
			<a class="do-serach" id="doSearch" href="javascript:void(0);">搜索</a>
		</div>
	</div>
	<script src="../../js/config.js"></script>
	<script src="../../js/dist/Compatible.min.js"></script>
	<script src="../../js/dist/Ajax.min.js"></script>
	<script src="../../js/dist/MessageBox.min.js"></script>
	<script src="../../js/dist/my-info-change-hospital.min.js"></script>
</body>
</html>