<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>个人设置</title>
    <link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="form-list">

		<a href="my-information.html">个人资料</a>

		<a href="../authorization/author-verification.html" class="gapTop">身份认证</a>

		<a href="my-time-change-hospital.html" class="gapTop">门诊时间</a>

		<!--<a href="../../test/wx.html" class="gapTop">test weixin</a>-->
	</nav>

	<footer class="no-bg">
		<a href="../authorization/author-contract.html" class="gapTop">大白云诊服务协议</a>
	</footer>

</body>
</html>