<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>常规出诊时间</title>
    <link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="form-list">
		<!--<a href="my-time-change-app.html">大白云诊时间</a>-->
		<a href="my-time-change-hospital.html">门诊时间</a>
		<!--<a href="my-not-disturb.html">勿扰模式</a>-->
	</nav>
</body>
</html>