<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>门诊时间</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="hospitalTime" class="hospital-time">
		<dl class="basic-row header">
			<dt>时间</dt>
			<dd>
				<i>上午</i>
				<i>中午</i>
				<i>下午</i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周一</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周二</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周三</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周四</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周五</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周六</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>

		<dl class="basic-row">
			<dt>周日</dt>
			<dd>
				<i forTime="0"></i>
				<i forTime="1"></i>
				<i forTime="2"></i>
			</dd>
		</dl>
	</div>

	<footer class="no-need-fixed">
		<a class="save" id="saveTime">保存</a>
	</footer>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/my-time-change-hospital.min.js"></script>
</body>
</html>