<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>个人中心</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-my.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="my-menu">
		<!-- <a href="my-information.html" class="my-info">个人资料</a>
		<a href="my-verification.html" class="my-verify">身份认证 <span>未认证</span></a>
		<a href="my-time.html" class="my-time">出诊时间</a>
		<a href="my-rule.html" class="my-rule">积分规则</a>
		<a href="my-card.html" class="my-card">银行卡</a>
		<a href="my-cash.html" class="my-cash">积分提现</a>
		<a href="my-setting.html" class="my-setting">设置</a> -->

		<a href="my-not-disturb.html">勿扰模式</a>
		<a href="my-information.html">个人资料</a>
		<a href="my-code.html">我的二维码</a>
		<a href="my-download-app.html">下载APP</a>
		<a href="my-help.html">帮助与反馈</a>
	</nav>
	
</body>
</html>