<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我的患者</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="patient-admin patient-new">
		<div class="patient-list">
			<dl>
				<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
				<dd>
					<b>张三三</b>
					<i>今天：18:00</i>
				</dd>
				<dd class="gray">
					男 18岁
				</dd>
			</dl>

			<dl>
				<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
				<dd>
					<b>张三三</b>
					<i>今天：18:00</i>
				</dd>
				<dd class="gray">
					男 18岁
				</dd>
			</dl>

			<dl>
				<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
				<dd>
					<b>张三三</b>
					<i>今天：18:00</i>
				</dd>
				<dd class="gray">
					男 18岁
				</dd>
			</dl>
		</div>

	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/Compatible.min.js"></script>
	<script src="../../js/dist/Ajax.min.js"></script>
	<script src="../../js/dist/MessageBox.min.js"></script>

</body>
</html>