<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>个人中心</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient.css" rel="stylesheet" media="all">
</head>
<body>
	<nav class="my-menu">
		<a href="patient-medical.html">常用药</a>
		<a href="patient-admin.html">患者管理</a>
		<a href="patient-medical-detail.html">药品详情</a>
		<a href="../../test/slide-test.html">图片滚动</a>
	</nav>
</body>
</html>