<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>患者分组</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="patient-admin patient-group group-info">

		<div class="patient-list">
			<a>
				<dl>
					<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
					<dd>
						张三三
					</dd>
					<dd>
						男 18岁
					</dd>
				</dl>

				<span memberId="0001" class="selected"></span>
			</a>

			<a>
				<dl>
					<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
					<dd>
						张三三
					</dd>
					<dd>
						男 18岁
					</dd>
				</dl>

				<span memberId="0001"></span>
			</a>

			<a>
				<dl>
					<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
					<dd>
						张三三
					</dd>
					<dd>
						男 18岁
					</dd>
				</dl>

				<span memberId="0001"></span>
			</a>

			<a>
				<dl>
					<dt><img src="../../styles/images/patient_header.png" width="60" /></dt>
					<dd>
						张三三
					</dd>
					<dd>
						男 18岁
					</dd>
				</dl>

				<span memberId="0001"></span>
			</a>
		</div>

		<div class="group-list">
			<a href="patient-new.html">分组名称 1</a>
		</div>

		<footer class="x2">
			<a class="save">保存修改</a>
			<a class="add">添加组员</a>
		</footer>
	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/Compatible.min.js"></script>
	<script src="../../js/dist/Ajax.min.js"></script>
	<script src="../../js/dist/MessageBox.min.js"></script>

</body>
</html>