<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>患者分组</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-patient.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="patient-admin patient-group">
		<div class="group-list">
			<a href="patient-group-info.html">分组名称 1 <span groupId="0001"></span></a>
			<a href="patient-group-info.html">分组名称 1 <span groupId="0001"></span></a>
			<a href="patient-group-info.html">分组名称 1 <span groupId="0001"></span></a>
			<a href="patient-group-info.html">分组名称 1 <span groupId="0001" class="selected"></span></a>
		</div>

		<footer class="x3">
			<a class="add">新增分组</a>
			<a class="edit">修改组名</a>
			<a class="delete">删除</a>
		</footer>
	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/Compatible.min.js"></script>
	<script src="../../js/dist/Ajax.min.js"></script>
	<script src="../../js/dist/MessageBox.min.js"></script>

</body>
</html>