<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>账户禁用提醒</title>
	<link href="../../styles/global.css" rel="stylesheet" media="all">
</head>
<body>

	<div class="error-panel">
		<div class="error-text">
			<b>因违反大白云诊相关协议，您的账号已被暂时停用。</b>
			如有相关疑问，请致电大白服务热线<span id="serviceTel"></span>，进行咨询！
		</div>
	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/error-service-tel.min.js"></script>
	
</body>
</html>