<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>说明书</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-medical.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="medical-detail">
		<div id="medicalImageSlide" class="slide-pic"></div>

		<div class="my-time">
			<dl class="form-input-row det">
				<dt>处方药</dt>
				<dd id="prescribed"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>通用名称</dt>
				<dd id="commonName"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>生产厂家</dt>
				<dd id="manufacturer"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>性状</dt>
				<dd id="character"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>规格</dt>
				<dd id="spec"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>包装</dt>
				<dd id="packaging"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>适应症</dt>
				<dd id="indications"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>不良反应</dt>
				<dd id="adverseReactions"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>禁忌</dt>
				<dd id="taboo"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>注意事项</dt>
				<dd id="attention"></dd>
			</dl>

			<dl class="form-input-row det">
				<dt>药物相互作用</dt>
				<dd id="drugInteractions"></dd>
			</dl>

			<dl class="form-input-row det">
				<dt>药理毒理</dt>
				<dd id="toxicology"></dd>
			</dl>

			<dl class="form-input-row det">
				<dt>用法用量</dt>
				<dd id="usage"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>贮藏</dt>
				<dd id="storage"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>有效期</dt>
				<dd id="effective"></dd>
			</dl>
			<dl class="form-input-row det">
				<dt>批准文号</dt>
				<dd id="approvalNum"></dd>
			</dl>

		</div>

	</div>

	<footer style="display: none;"></footer>

    <script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
    <script src="../../js/dist/medical-detail.min.js"></script>
</body>
</html>