<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商业模式</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="my-rule">
		<h2>商业模式</h2>
		<article>
			<aside>产品定位：医患二次诊疗移动平台；</aside>
			<section>
				<h1>商业价值：</h1>
				<ol>
					<li>让医生0成本拥有自己的终身私人移动门诊；</li>
					<li>在线管理患者，加强医患互信；</li>
					<li>整合碎片时间，提升诊疗效率；</li>
					<li>移动平台职业，提高合法收入；</li>
					<li>重建患者生态，彰显医生价值。</li>
				</ol>

				<h1>商业模式：</h1>
				<p class="article">
					七乐康为医生提供患者管理工具（虚拟门诊），医生在线为患者提供咨询服务，建立患者健康档案，医生为患者推荐用药，患者通过七乐康网上药店直接获取药品，形成医-患-药-服务的闭环。
				</p>
			</section>
		</article>
	</div>
</body>
</html>