<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>常见问题</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="my-rule">
		<article class="q-and-a">
			<section>
				<ol>
					<li class="selected">
						为什么8月份的积分迟迟未审核结算？
						<section>
							尊敬的医生您好，非常抱歉给您带来不便，目前打款事宜正在进行，因前期未收集您的银行支行名称，导致部分医生打款不成功，现需要您配合提供详细的“姓名+银行名称+支行名称+卡号”请您留意我司短信并按照要求回复，我们将会在您回复信息后7个工作日内为您打款。
						</section>
					</li>
					<li>如何才能辨认是“大白云诊”发出的短信或者拨打的电话？</li>
				</ol>
			</section>
		</article>
	</div>
</body>
</html>