<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>积分规则</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="my-rule">
		<article>
			<p><img src="../../styles/images/point_rule.jpg" /></p>

			<p class="article">大白云诊积分兑换比例为10积分=1元，您可以通过合理指导患者用药获得药事服务积分奖励，活动时间从2016-1-4 19:00开始。</p>

			<section>
				<h1 class="top-gap">补充说明</h1>
				<ol>
					<li>积分达到2000及以上，且通过身份认证，才可以申请提现。</li>
					<li>通过不正当手段获取积分，查实后积分将清零。</li>
					<li>本活动最终解释权归广州七乐康药业连锁有限公司所有。</li>
				</ol>
			</section>
		</article>
	</div>

	<div class="about-link">
		<a href="point-rule-biz.html">大白云诊商业模式</a>
		<a href="point-rule-about.html">关于七乐康</a>
		<!--<a href="point-rule-qna.html">常见问题</a>-->
	</div>
</body>
</html>
