<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>积分列表</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="point-cash-record" id="point-list"></div>
	<p class="load-more" id="loadMore" style="display:none;">点击加载更多</p>

    <script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
    <script src="../../js/dist/point-list.min.js"></script>
</body>
</html>