<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>积分详情</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div id="pointDetail" class="point-detail">
		<header id="headInfo" ></header>

		<section id="basicSection" class="section-basic"></section>

		<section id="proDetail" class="pro-detail"></section>

		<p class="gap"></p>

		<footer>
			<ul>
				<li>说明：</li>
				<li>1. 患者签收订单并已过7天退货期后，积分才可提现，如果订单取消积分则也会作废。</li>
				<li>2. 如果医生是患者的第一私人医生（通过扫描医生二维码关注大白公众账号），那患者自主购药也会给予医生积分奖励，实施时间从2015-10-27开始。</li>
			</ul>
		</footer>
	</div>

	<script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/point-detail.min.js"></script>

</body>
</html>