<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>关于七乐康</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="my-rule">
		<article>

			<h2>关于七乐康</h2>

			<p class="article">	广州七乐康药业连锁有限公司，为首批国家食药监局认证网上药店，荣获“2014~2015年度中国网上药店销售排行榜”第一名，己发展成为中国最大的网上药店。</p>

			<ol>
				<li>
					七乐康愿景：做中国医药电商的领导者，以个人健康档案为中心，打造终生医、药服务平台。
				</li>
				<li>七乐康使命：天下无病</li>
				<li>七乐康价值观：品质、服务、专业、创新、快乐、大爱</li>
				<li>七乐康三味真火：军队、学校、家庭</li>
				<li>七乐康下属平台：“大白云诊”是国内首个涵盖医、患、药、服务全面配套的平台。</li>
				<li>七乐康全国首批互联网药品交易认证企业。</li>
				<li>七乐康是广东省重点支持的医药电商企业、首家国家卫生局领导亲自调研的电商示范企业。</li>
				<li>七乐康连续4年获得中国网上药店销售冠军。</li>
				<li>七乐康于2014年底获得3亿元A轮融资。</li>
				<li>七乐康与京东、唯品会等知名电商企业一起被亿邦动力评为网上零售价值百强企业。</li>
				<li>正品保证：七乐康与国内外优质厂家和品牌代理商，签订战略采购协议。每一批产品入库都严格按照GSP标准执行。</li>
				<li>品类最全最多：品种储备达过万种，坐享便捷选药体验。</li>
				<li>首家医药B2C专业物流：严格按照GSP标准，温湿度分区仓储、处方药冷链运输、专业物流箱，保障药品最后一公里的安全。</li>
				<li>快捷配送：自建物流团队、8小时闪电发货，2015年预计实现珠三角及上海地区“211限时达”。</li>
				<li>优质包裹：选用业内优质的材料和供应商，人站在包裹上保证不变形。</li>
				<li>专业药师服务：客服团队超过10%的成员为执业药师，官网/电话/微信等多种咨询方式，一对一专业贴心服务。</li>
			</ol>

		</article>
	</div>
</body>
</html>