<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>银行卡</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="my-card no-data-status">
		<ul></ul>

		<a class="but but-inline delete" style="display:none;" id="deleteSelectedCard">删除选中银行卡</a>
	</div>

	<p id="notDataTip" class="no-data-tip" style="display:none;"></p>

	<footer style="display:none;">
		<a id="addBankCard" class="add" href="point-card-add-card.html">新增银行卡</a>
	</footer>

    <script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
	<script src="../../js/dist/point-card.min.js"></script>
</body>
</html>