<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>提现记录</title>
	<link href="../../styles/base.css" rel="stylesheet" media="all">
	<link href="../../styles/page-point.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="point-cash-record" id="point-cash-record">
		<p class="no-data-tip"></p>
	</div>

	<p class="tip-show-msg footer-tip-msg">
		<span>如有疑问请拨打：<a href="tel://02029198502"><b>020-29198502</b></a></span>
	</p>

    <script src="../../js/config.js"></script>
	<script src="../../js/dist/components.min.js"></script>
    <script src="../../js/dist/point-cash-record.min.js"></script>
</body>
</html>